<div class="navbar">
  <img class="logo" src="teachable-logo.png" alt="Teachable Logo"/>
  <ul class="nav-links">
    <ul>
      <%= link_to "Search", root_path %>
      <br />
      <br />
    </ul>
    <ul>
      <%= link_to "Favorites", favorites_path %>
    </ul>
  </ul>
</div>
