Please build the favorites page here.

<!-- <h2>Search Gems</h2>
<div>
  <%= form_tag(rubygem_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Ruby Gems"%>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div> -->
