<%= render 'static_pages/navigation' %>

<div class="container">
  <div class="title-bar"><h2>Gem Favorites</h2></div>
  <div>
    <div id="result"></div>
    <script>

      function storage(){
        var result = document.getElementById("result")
        var items =  JSON.parse(localStorage.getItem("rubygems"))
        for (var i = 0; i < items.length; i++){
            document.getElementById("result").innerHTML += ('<div class="'+items[i]+'"><a target="_blank" href="https://rubygems.org/gems/'+items[i]+'">' + items[i] + '</a><img class="star-pic" src="/assets/star-blue.png" alt="star pic"></div>')
        }
      }
      storage()


    </script>

  </div>

</div>
