/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  padding: 0;
  margin: 0
}

body{
  font-family: "Lato";
  height: 100%;
  background: url("/assets/map.png") no-repeat;
  background-size: auto;

}

/*---------------------navbar-------------------------*/

.navbar{
  margin-top: 10px;
  width: 40%;
  height: 100%;
  float: left;
}

.navbar img{
  margin-top: 1cm;
  margin-left: 10.5cm;
}

.nav-links{
  width:100px;
  margin-left: 10.5cm;
  margin-top: 7cm;
  font-size: 125%;
}

.nav-links a {
  color:white;
  background-color: rgb(0,0,0,0.9)
}

a:hover{
  color: #0099ff;
}


/*----------------------container------------------------*/

.container{
  width: 60%;
  float: right;
  margin-top: 4cm;
  padding-left: 60px;
  padding-right: 60px;
}

.searchbar {
  padding: 15px 10px 15px 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: url("/assets/magnifying-glass.png") no-repeat;
  background-position: 95% 50%;
  width: 80%;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-style: solid;
  border-color: #d9d9d9;
}

.searchbar:hover{
  border-color: #0099ff;
}

.searchbar input{

}

.title-bar {
  margin-left: 30px;
}

.search-results{
  margin-left: 30px;
  margin-right: 150px;
}

#result{
  margin-left: 30px;
  margin-top: 20px;
}

.star-pic{
  margin-left: 10px;
}

h2:hover, h4:hover{
  color: #0099ff;
}
